In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
#load the data
sal=pd.read_csv(r"C:\Users\sneha\Downloads\data.csv")
sal.shape

(5842, 2)

In [3]:
sal

                                               Sentence Sentiment
0     The GeoSolutions technology will leverage Bene...  positive
1     $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2     For the last quarter of 2010 , Componenta 's n...  positive
3     According to the Finnish-Russian Chamber of Co...   neutral
4     The Swedish buyout firm has sold its remaining...   neutral
...                                                 ...       ...
5837  RISING costs have forced packaging producer Hu...  negative
5838  Nordic Walking was first used as a summer trai...   neutral
5839  According shipping company Viking Line , the E...   neutral
5840  In the building and home improvement trade , s...   neutral
5841  HELSINKI AFX - KCI Konecranes said it has won ...  positive

[5842 rows x 2 columns]

In [4]:
#preprocessing the data 
from sklearn.preprocessing import LabelEncoder

In [5]:
#covert strings to integer using Label encoder 
le=LabelEncoder()
sal['Sentiment']=le.fit_transform(sal['Sentiment'])#male-1, female-0

In [6]:
sal.head()

                                            Sentence  Sentiment
0  The GeoSolutions technology will leverage Bene...          2
1  $ESI on lows, down $1.50 to $2.50 BK a real po...          0
2  For the last quarter of 2010 , Componenta 's n...          2
3  According to the Finnish-Russian Chamber of Co...          1
4  The Swedish buyout firm has sold its remaining...          1

In [7]:
#define independent and dependent variables
x=sal['Sentence'] 
y=sal['Sentiment']

In [8]:
#transform text data to TF-IDF feature
vectorizer=TfidfVectorizer(stop_words='english')
Xvec=vectorizer.fit_transform(x)

In [9]:
#train a naive bayes classifier
NB=MultinomialNB()
NB.fit(Xvec,y)

MultinomialNB()

In [ ]:
text=input("enter text:")
t=[]
t.append(text)

#transfer the sentence useing the same vecterizer
tv=vectorizer.transform(t)
pred=NB.predict(tv)
print(pred[0])
if pred[0]==1:
    print("neutral")
elif pred[0]==0:
    print("negative")
else:
    print("positive")